@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #08ff65;
}

* {
  box-sizing: border-box;
  outline: 0;
  color: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 70px auto;
  background: #fa1414;
  padding: 20px;
  border-radius: 10px;
}

.calculator {
width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  margin-left: 50px;
  border: none;
  border-bottom: 2px solid #101b16;
  background: #fa1414;
  
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  margin-left: 50px;
  border: none;
  background: #fa1414;
  cursor: pointer;
}

.btn:hover {
  background: #08ff65;
}

.btn-eq {
  background: #101b16;
}


@media screen and (max-width: 768px) {
  
  .container {
      max-width: 320px;
      margin: 40px;
      background: #fa1414;
      padding: 20px;
      border-radius: 10px;
  }
  
  .display {
      font-size: 12px;
      width: 252px;
      text-align: right;
      margin-left: 6px;
      margin-bottom: 5px;
      border: none;
      border-bottom: 2px solid #101b16;
      background: #fa1414;
  }
  
  .calculator {
      width: 0px
  }
  
  .btn {
      width: 25px;
      height: 20px;
      font-size: 15px;
      margin-left: 29px;
      border: none;
      background: #fa1414;
      cursor: pointer;
  }
  }